.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.advert-publish-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    justify-self: center;

    margin-top: -200px; 
    padding: 0;
      
    width: 100%;
    
}

.advert-publish-content{
    word-wrap: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa !important;
    
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.1) !important;
    padding: 30px;

    
    width: 80%;
}

.text-field {
    width: 100%;
    margin-bottom: 20px !important;
}
